<div class="wrapper background-color">
  <div class="container" fxLayout="column" fxFlex>
    <span class="mat-headline header">Terms & Conditions</span>
    <div class="textbox" fxFlex>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Sapien et ligula ullamcorper malesuada proin libero nunc. Cras sed felis eget velit aliquet
        sagittis id consectetur purus. Mattis nunc sed blandit libero. Et malesuada fames ac turpis egestas sed. Nullam
        non nisi est sit amet facilisis. Odio tempor orci dapibus ultrices in iaculis nunc. Gravida cum sociis natoque
        penatibus et. At auctor urna nunc id cursus. Sit amet cursus sit amet dictum sit. Dui faucibus in ornare quam.
        Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel. Vel risus commodo viverra maecenas accumsan lacus
        vel. Sollicitudin ac orci phasellus egestas tellus. Lacus sed viverra tellus in hac habitasse platea dictumst.
        Nam libero justo laoreet sit amet. Tellus in metus vulputate eu scelerisque felis. Non blandit massa enim nec
        dui nunc mattis enim.</p>
      <p>Ut faucibus pulvinar elementum integer enim neque volutpat. Laoreet sit amet cursus sit. Sodales neque sodales
        ut etiam sit amet nisl. Maecenas sed enim ut sem viverra aliquet eget sit. Accumsan lacus vel facilisis
        volutpat est. Sed id semper risus in hendrerit gravida rutrum quisque. Faucibus et molestie ac feugiat sed.
        Consectetur libero id faucibus nisl tincidunt eget nullam non. Facilisi morbi tempus iaculis urna id volutpat
        lacus. Mattis rhoncus urna neque viverra justo. Condimentum lacinia quis vel eros. In fermentum posuere urna
        nec tincidunt praesent semper feugiat nibh.</p>

      <p>Ac tincidunt vitae semper quis lectus nulla at volutpat diam. Neque viverra justo nec ultrices dui sapien
        eget. Ornare quam viverra orci sagittis. Morbi tincidunt ornare massa eget egestas purus viverra. Eget sit amet
        tellus cras adipiscing enim eu. Nulla facilisi cras fermentum odio eu feugiat pretium. Quis ipsum suspendisse
        ultrices gravida dictum fusce ut placerat orci. Sed enim ut sem viverra. Commodo sed egestas egestas fringilla.
        Varius sit amet mattis vulputate enim nulla aliquet. Tortor vitae purus faucibus ornare suspendisse. Integer
        malesuada nunc vel risus. Vitae turpis massa sed elementum tempus. Viverra orci sagittis eu volutpat. Donec et
        odio pellentesque diam volutpat commodo sed egestas. Natoque penatibus et magnis dis parturient montes. Cras
        sed felis eget velit aliquet sagittis. In aliquam sem fringilla ut morbi tincidunt. Sit amet nulla facilisi
        morbi tempus iaculis urna id.</p>

      <p>Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. At elementum eu facilisis sed. Quis
        viverra nibh cras pulvinar mattis. Neque volutpat ac tincidunt vitae. Mauris sit amet massa vitae tortor. Nunc
        pulvinar sapien et ligula ullamcorper. Quis imperdiet massa tincidunt nunc pulvinar. Eget sit amet tellus cras
        adipiscing. Urna et pharetra pharetra massa massa ultricies. Aliquam faucibus purus in massa. Neque aliquam
        vestibulum morbi blandit cursus. Laoreet non curabitur gravida arcu ac. Velit dignissim sodales ut eu sem.
        Convallis posuere morbi leo urna molestie at. Et magnis dis parturient montes nascetur ridiculus mus mauris.
        Sit amet porttitor eget dolor morbi non arcu. Purus faucibus ornare suspendisse sed. Vel turpis nunc eget lorem
        dolor. Erat velit scelerisque in dictum non consectetur a erat nam.</p>

      <p>Id velit ut tortor pretium viverra suspendisse. Cursus eget nunc scelerisque viverra mauris in aliquam. Sapien
        nec sagittis aliquam malesuada bibendum arcu vitae elementum. Fusce id velit ut tortor pretium viverra
        suspendisse potenti nullam. Turpis in eu mi bibendum neque egestas. Volutpat maecenas volutpat blandit aliquam
        etiam erat velit scelerisque. Arcu odio ut sem nulla pharetra diam sit amet nisl. Placerat orci nulla
        pellentesque dignissim enim sit amet. Mauris a diam maecenas sed. Volutpat odio facilisis mauris sit amet massa
        vitae.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="accept-wrapper">
      <button mat-button (click)="decline()">Decline</button>
      <button mat-raised-button color="primary" (click)="accept()">Accept</button>
    </div>
  </div>
</div>